---
- name: Content Credentials | Reset the results variable
  ansible.builtin.set_fact:
    result_api_response: {}

- name: Content Credentials | Get Basic Info
  include_tasks: api_call.yml
  vars:
    call_type: Content Credentials
    api_link: /katello/api/content_credentials?organization_id=1&full_result=true
    body_format: "json"

- name: Content Credentials | Create a List
  ansible.builtin.set_fact:
    all_results: "{{ result_api_response.json.results | sort(attribute='id') }}"

- name: Content Credentials | Create the Files Directory
  ansible.builtin.file:
    path: ./files
    state: directory

- name: Content Credentials | Create the content_credentials Directory
  ansible.builtin.file:
    path: ./files/content_credentials
    state: directory

- name: Content Credentials | For each Content Credential File, Touch a File
  ansible.builtin.file:
    path: "./files/content_credentials/{{ item.name }}"
    state: touch
  loop: "{{ all_results }}"

- name: Content Credentials | For each Content Credential File, Fill with Values
  ansible.builtin.copy:
    dest: "./files/content_credentials/{{ item.name }}"
    content: "{{ item.content }}"
  loop: "{{ all_results }}"

- name: Content Credentials | Template Out Results
  include_tasks: template_out.yml
  vars:
    template_type: content_credentials

