---
- name: Composite Content Views | Get Info
  include_tasks: api_call.yml
  vars:
    call_type: Composite Content Views
    api_link: /katello/api/content_views?composite=true&full_result=true

- name: Composite Content Views | Set Info List
  ansible.builtin.set_fact:
    info_list: "{{ result_api_response.json.results | sort(attribute='id') }}" # removed filter | rejectattr('name','==','Default Organization View')

- name: Composite Content Views | Template Out Results
  include_tasks: template_out.yml
  vars:
      template_type: composite_content_views
