---
- name: Organizations | Get Info
  redhat.satellite.organization_info:
    server_url: "{{ satellite.server_url }}"
    username: "{{ satellite.admin.username }}"
    password: "{{ satellite.admin.password }}"
    validate_certs: "{{ satellite.validate_tls_certs_of_foreman_server_boolean }}"
  register: __organization_result_api_response

- name: Organizations | Set Info List
  ansible.builtin.set_fact:
    info_list: "{{ __organization_result_api_response.organizations | sort(attribute='id') }}" # removed filter | rejectattr('name','==', 'Default Organization')

- name: Organizations | Get Primary Organization Name
  ansible.builtin.set_fact:
    primary_org: "{{ __organization_result_api_response.organizations | selectattr('id', '==', 1) | map(attribute='name') | first }}"

- name: Organizations | Template Out Results
  include_tasks: template_out.yml
  vars:
    template_type: organizations
