---
- name: Create Content View Filters
  #theforeman.foreman.katello_content_view_filter:
  redhat.satellite.content_view_filter:
    # Mandatory parameters
    name: "{{ __current_content_view_filter.name }}"
    content_view: "{{ __current_content_view_filter.content_view }}"
    filter_type: "{{ __current_content_view_filter.filter_type }}"
    organization: "{{ __current_content_view_filter.organization }}"
    # Optional parameters
    date_type: "{{ __current_content_view_filter.date_type | default(omit) }}"
    end_date: "{{ __current_content_view_filter.end_date | default(omit) }}"
    errata_id: "{{ __current_content_view_filter.errata_id | default(omit) }}"
    inclusion: "{{ __current_content_view_filter.inclusion | default(omit) }}"
    max_version: "{{ __current_content_view_filter.max_version | default(omit) }}"
    min_version: "{{ __current_content_view_filter.min_version | default(omit) }}"
    repositories: "{{ __current_content_view_filter.repositories | default(omit) }}"
    rule_name: "{{ __current_content_view_filter.rule_name | default(omit) }}"
    start_date: "{{ __current_content_view_filter.start_date | default(omit) }}"
    types: "{{ __current_content_view_filter.types | default(omit) }}"
    version: "{{ __current_content_view_filter. version| default(omit) }}"
    filter_state: "{{ __current_content_view_filter.filter_state | default(omit) }}"
    rule_state: "{{ __current_content_view_filter.rule_state | default(omit) }}"
  loop: "{{ satellite_content_view_filters }}"
  loop_control:
    loop_var: __current_content_view_filter
    label: "{{ __current_content_view_filter.name }}"
  when: satellite_content_view_filters is defined
  delegate_to: "localhost"
...
