---
- name: Ensure locations exists
  redhat.satellite.location:
    # Mandatory parameters
    name: "{{ __current_organization.name }}"
    # Optional parameters
    state: "{{ __current_organization.state | default(omit) }}"
    organizations: "{{ __current_organization.organizations | default(omit) }}"
  loop: "{{ satellite_locations }}"
  loop_control:
    loop_var: __current_organization
    label: "{{ __current_organization.name }}"
  delegate_to: "localhost"
...
