---
- name: Content View Filters | Reset the results variable
  ansible.builtin.set_fact:
    result_api_response: {}
    __rules_list: []
    __addapted_filter_info: {}
    __addapted_component_info: {}
    # __usergroups_list: []

- name: Content View Filters | Show debug information (__current_content_view)
  ansible.builtin.debug:
    var: __current_content_view
    verbosity: 1

- name: Content View Filters | Get Content View Filters
  ansible.builtin.include_tasks: api_call.yaml
  vars:
    call_type: Content View Filters
    api_link: "/katello/api/content_views/{{ __current_content_view.id }}/filters"

- name: Content View Filters | Show debug information (result_api_response)
  ansible.builtin.debug:
    var: result_api_response
    verbosity: 1

- name: Compose the filters' structure
  ansible.builtin.set_fact:
    __addapted_filter_info:
      filters: "{{ (__addapted_filter_info.filters | default([])) + [__current_rule] }}"
  vars:
    __current_rule:
      name: "{{ __current_filter[0].name }}"
      inclusion: "{{ __current_filter[0].inclusion }}"
      description: "{{ __current_filter[0].description }}"
      filter_state: "{{ __current_filter[0].state | default('present') }}"
      filter_type: "{{ __current_filter[0].type }}"
      rule_name: "{{ __current_filter[1].name }}"
  loop: "{{ result_api_response.json.results | subelements('rules', skip_missing=true) }}"
  loop_control:
    loop_var: __current_filter
    label: "{{ __current_filter[0].name }}"

- name: Compose the components' structure
  ansible.builtin.set_fact:
    __addapted_component_info:
      components: "{{ (__addapted_component_info.components | default([])) + [__current_cv_component] }}"
  vars:
    __current_cv_component:
      content_view: "{{ __current_component.content_view.name }}"
      content_view_version: "{{ __current_component.content_view.next_version  }}"
      latest: "{{ __current_component.latest }}"
  loop: "{{ __current_content_view.content_view_components }}"
  loop_control:
    loop_var: __current_component
    label: "{{ __current_component.content_view.name }}"

- name: Content View Filters (Do Work) | Set Info List (can take a while...)
  ansible.builtin.set_fact:
    __rs_info_list: "{{ __rs_info_list + [__current_content_view | combine(__addapted_filter_info) | combine(__addapted_component_info)] }}"
...
