---
- name: Content Credentials | Reset the results variable
  ansible.builtin.set_fact:
    result_api_response: {}

- name: Content Credentials | Get Organizations
  redhat.satellite.organization_info:
    server_url: "{{ satellite.server_url }}"
    username: "{{ satellite.admin.username }}"
    password: "{{ satellite.admin.password }}"
    validate_certs: "{{ satellite.validate_certs }}"
  register: __result_organizations

- name: Content Credentials | Get Info
  include_tasks: api_call.yaml
  vars:
    call_type: Content Credentials
    api_link: "/katello/api/content_credentials?organization_id={{ __current_org.id }}&full_result=true"
  loop: "{{ __result_organizations.organizations }}"
  loop_control:
    loop_var: __current_org
  register: result_api_response

- name: Content Credentials | Set Info List
  ansible.builtin.set_fact:
    info_list: "{{ result_api_response.json.results | sort(attribute='id') }}"

- name: Content Credentials | Template Out Results
  include_tasks: template_out.yaml
  vars:
    template_type: satellite_content_credentials
...
###
### ---
### - name: Content Credentials | Reset the results variable
###   ansible.builtin.set_fact:
###     result_api_response: {}
###
### - name: Content Credentials | Get Basic Info
###   include_tasks: api_call.yaml
###   vars:
###     call_type: Content Credentials
###     api_link: /katello/api/content_credentials?full_result=true
###     body_format: "json"
###
### - name: Content Credentials | Create a List
###   ansible.builtin.set_fact:
###     all_results: "{{ result_api_response.json.results | sort(attribute='id') }}"
###
### - name: Content Credentials | Create the Files Directory
###   ansible.builtin.file:
###     path: ./files
###     state: directory
###
### - name: Content Credentials | Create the content_credentials Directory
###   ansible.builtin.file:
###     path: ./files/content_credentials
###     state: directory
###
### - name: Content Credentials | For each Content Credential File, Touch a File
###   ansible.builtin.file:
###     path: "./files/content_credentials/{{ item.name }}"
###     state: touch
###   loop: "{{ all_results }}"
###
### - name: Content Credentials | For each Content Credential File, Fill with Values
###   ansible.builtin.copy:
###     dest: "./files/content_credentials/{{ item.name }}"
###     content: "{{ item.content }}"
###   loop: "{{ all_results }}"
###
### - name: Content Credentials | Template Out Results
###   include_tasks: template_out.yaml
###   vars:
###     template_type: satellite_content_credentials
###
