---
- name: Content Views | Reset the results variable
  ansible.builtin.set_fact:
    result_api_response: {}
    __rs_info_list: []

- name: Content Views | Get Content Views
  include_tasks: api_call.yaml
  vars:
    call_type: Content Views
    api_link: "/katello/api/content_views?full_result=true"

- name: Content Views | Retain the Content Views' info
  ansible.builtin.set_fact:
    __content_views_list: "{{ result_api_response.json.results }}"

- name: Content Views | Show debug information (__content_views_list)
  ansible.builtin.debug:
    var: __content_views_list
    verbosity: 1

- name: Content Views | Get Content View filters Info
  include_tasks: get_content_view_filters.yaml
  loop: "{{ __content_views_list }}"
  loop_control:
    loop_var: __current_content_view

- name: Content Views | Template Out Results
  include_tasks: template_out.yaml
  vars:
    template_type: satellite_content_views
    info_list: "{{ __rs_info_list | default([]) }}"
...
