---
- name: Sync Plans (Do Work) | Get Info
  include_tasks: api_call.yaml
  vars:
    call_type: Sync Plans
    api_link: "/katello/api/sync_plans?organization_id={{ __current_org.id }}&full_result=true"

- name: Sync Plans (Do Work) | Block to do the job when there's a job to do
  when:
    - result_api_response.json.results is defined
    - result_api_response.json.results | length > 0
  block:
    - name: Sync Plans (Do Work) | Update the organization field
      ansible.builtin.set_fact:
        __temp_results: "{{ result_api_response.json.results | map('combine', {'organization': __current_org.name}) | unique }}"

    - name: Sync Plans (Do Work) | Set Info List
      ansible.builtin.set_fact:
        __sp_info_list: "{{ ((__sp_info_list | default([])) + __temp_results) | unique }}"
...
