---
- name: Content View Filters | Reset the results variable
  ansible.builtin.set_fact:
    result_api_response: {}
    __rules_list: []
    __addapted_info: {}
    # __usergroups_list: []

- name: Content View Filters | Get Content View Filters
  ansible.builtin.include_tasks: api_call.yaml
  vars:
    call_type: Content View Filters
    api_link: "/katello/api/content_views/{{ __current_content_view.id }}/filters"
- debug: var=result_api_response.json.results
- name: Compose the filters' structure
  ansible.builtin.set_fact:
    __addapted_info:
      filters: "{{ (__addapted_info.filters | default([])) + [__current_rule] }}"
  vars:
    __current_rule:
      name: "{{ __current_filter[0].name }}"
      inclusion: "{{ __current_filter[0].inclusion }}"
      description: "{{ __current_filter[0].description }}"
      filter_state: "{{ __current_filter[0].state | default('present') }}"
      filter_type: "{{ __current_filter[0].type }}"
      rule_name: "{{ __current_filter[1].name }}"
  loop: "{{ result_api_response.json.results | subelements('rules', skip_missing=true) }}"
  loop_control:
    loop_var: __current_filter
    label: "{{ __current_filter[0].name }}"

- name: Content View Filters (Do Work) | Set Info List (can take a while...)
  ansible.builtin.set_fact:
    __rs_info_list: "{{ __rs_info_list + result_api_response.json.results }}"
    __rs_info_list: "{{ __rs_info_list + [__current_content_view | combine(__addapted_info)] }}"
...
