---
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['created_at', 'updated_at', 'id', 'organization_id', 'cp_id', 'cp_id' ] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = ['organization', 'sync_plan'] %}
{% set __reduce_to_value_of = [] %}
satellite_content_credentials: {{ discard_unwanted_fields(info_list, __excluded_fields, __empty_values, __reduce_to_name, __reduce_to_value_of) }}
...
{#
---
satellite_content_credentials: {{ [] if all_results | length == 0 }}
{% for conent_cred in all_results %}
  - name: "{{ conent_cred.name }}"
    content_type: "{{ conent_cred.content_type }}"
    content: {% raw %}"{{{% endraw %} lookup('file', '../files/content_credentials/{{ conent_cred.name }}') {% raw %}}}"{% endraw %}
{% endfor %}
#}
