---
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['id', 'created_at', 'updated_at', 'hidden_value?', 'os_default_templates', 'associated_type', 'priority'] %}
{% set __list_items_to_name = ['architectures', 'ptables', 'provisioning_templates', 'locations', 'organizations', 'operatingsystems', 'media'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = [] %}
{% set __translate = [] %}
{% set __raw_fields = ['template', 'description'] %}
satellite_operatingsystems:
{% for i in info_list %}
{%   for __map_item in (i | dict2items) if __map_item.key not in __excluded_fields and __map_item.value not in __empty_values %}
{%     if __map_item.key == 'family' %}
  {{ '-' if loop.index == 1 else ' ' }} os_family: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     elif __map_item.key in __raw_fields %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}: |-
      {{ '{%- raw -%}' }}
      {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) | trim("'") | indent(6) }}
      {{ '{%- endraw -%}' }}
{%     elif __map_item.key in __list_items_to_name %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}:
{%       for __inner_item in __map_item.value %}
      - {{ (dict(__inner_item.items() | selectattr('0', 'in', 'name'))['name']) }}
{%       endfor %}
{%     else %}
  {{ '-' if loop.index == 1 else ' ' }} {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name, __translate) }}
{%     endif %}
{%-  endfor %}
{% endfor %}
...
{#
---
satellite_operatingsystems: {{ [] if detailed_info.results | length == 0 }}
{% for os in detailed_info.results %}
  - name: "{{ os.json.name | trim }}"
    description: "{{ os.json.description }}"
    os_family: "{{ os.json.family }}"
    major: "{{ os.json.major }}"
    password_hash: "{{ os.json.password_hash }}"
    state: present
{% set os_architectures = os.json.architectures %}
{% if os_architectures != None %}
    architectures:
{% for architecture in os_architectures %}
      - "{{ architecture.name }}"
{% endfor %}
{% endif %}
{% set os_ptables = os.json.ptables %}
{% if os_ptables != None %}
    ptables:
{% for ptable in os_ptables %}
      - "{{ ptable.name }}"
{% endfor %}
{% endif %}
{% endfor %}
#}
