---
satellite_content_credentials:
{% for conent_cred in all_results %}
  - name: "{{ conent_cred.name }}"
    content_type: "{{ conent_cred.content_type }}"
    content: {% raw %}"{{{% endraw %} lookup('file', '../files/content_credentials/{{ conent_cred.name }}') {% raw %}}}"{% endraw %}
{% endfor %}
