---
satellite_sync_plans: {{ [] if info_list | length == 0 }}
{% set __excluded_fields = ['id', 'organization_id', 'created_at', 'updated_at'] %}
{% set __excluded_subitems = ['id', 'cp_id', 'label', 'description', 'sync_state', 'last_sync', 'last_sync_words', 'repository_count'] %}
{% set __list_items = ['products'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% for i in info_list %}
{%   for __map_item in (i | dict2items) if __map_item.key not in __excluded_fields and __map_item.value not in __empty_values %}
{%     set __var = namespace(map_item_value = []) %}
{%     if __map_item.value | type_debug == 'dict' %}
{%       set __map_item_value = dict(__map_item.value.items() | rejectattr('0', 'in', __excluded_subitems)) %}
{%     endif %}
{%     if __map_item.value | type_debug == 'list' %}
{%       for __inner_item in __map_item.value %}
{%         if __var.map_item_value | length == 0 %}
{%           set __var.map_item_value = [dict(__inner_item.items() | rejectattr('0', 'in', __excluded_subitems))] %}
{%         else %}
{%           set __var.map_item_value = (__var.map_item_value | default([])) + [dict(__inner_item.items() | rejectattr('0', 'in', __excluded_subitems))] %}
{%         endif %}
{%       endfor %}
{%       if __map_item.key == 'products' %}
{%         set __var.map_item_value = __var.map_item_value | map(attribute='name') | list %}
{%       endif %}
{%       set __map_item_value = __var.map_item_value %}
{%     endif %}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ __map_item_value if (__map_item_value is defined) else __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") | replace('*', '') }}
{%     else %}
    {{ __map_item.key }}: {{ __map_item_value if (__map_item_value is defined) else __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") | replace('*', '') }}
{%     endif %}
{%-  endfor %}
{% endfor %}
...
