---
satellite_content_view_filters: {{ [] if detailed_info.results | length == 0 }}
{% from 'clean_fields.j2' import discard_unwanted_fields %}
{% set __excluded_fields = ['created_at', 'updated_at', 'id', 'title', 'organization_id', 'repository_ids', 'latest_version_id', 'environment_ids', 'content_view_filter_id'] %}
{% set __empty_values = [None, 'None', '', {}, [], [{}]] %}
{% set __reduce_to_name = ['content_view'] %}
{% set __translate = [{'type': 'filter_type'}] %}
{% for content_view in detailed_info.results %}
{%   for __map_item in (content_view.json | dict2items) if __map_item.key not in __excluded_fields and __map_item.value not in __empty_values %}
A - {{ __map_item.value }}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name) }}
{%     else %}
{%       if __map_item.key in __reduce_to_name %}
    {{ __map_item.key }}: {{ __map_item.value.name }}
{%       elif __map_item.key == 'filters' %}
    filters:
{%         for __filter_item in __map_item.values.items() %}
{%           if __translate | selectattr(__map_item.key, 'defined') | length > 0 %}
      {{ (__translate | selectattr(__map_item.key, 'defined'))[0][__map_item.key] }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name) }}
{%           else %}
      {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name) }}
{%           endif %}
{%         endfor %%}
{%       elif __map_item.key == 'rules' %}
    {{ __map_item.key }}:
{%         for __rule in __map_item.value %}
      - {{ __rule.name }}
{%         endfor %}
{%       else %}
    {{ __map_item.key }}: {{ discard_unwanted_fields(__map_item.value, __excluded_fields, __empty_values, __reduce_to_name) }}
{%       endif %}
{%     endif %}
{%     if __map_item.key == 'content_view' %}
    organization: {{ __map_item.value.organization.name }}
{%     endif %}
{%   endfor %}
{% endfor %}
...
