---
satellite_hostgroups: {{ [] if detailed_info.results | length == 0 }}
{% for hostgroup in detailed_info.results %}
  - name: "{{ hostgroup.json.name | trim }}"
{% if hostgroup.json.description != None and hostgroup.json.description != ""  %}
    description: "{{ hostgroup.json.description }}"
{% endif %}
{% if hostgroup.json.parent_name != None %}
    parent: "{{ hostgroup.json.parent_name }}"
{% endif %}
{% set hostgroup_parameters = hostgroup.json.parameters %}
{% if hostgroup_parameters != None and hostgroup_parameters[0] is defined %}
    parameters:
{% for parameter in hostgroup_parameters %}
      - name: "{{ parameter.name }}"
{% if parameter.parameter_type != None and parameter.parameter_type != "" %}
        parameter_type: "{{ parameter.parameter_type }}"
{% else %}
        parameter_type: "string"
{% endif %}
        value: "{{ parameter.value }}"
{% endfor %}
{% endif %}
{% endfor %}
