---
composite_content_views:
{% for content_view in info_list %}
  - name: "{{ content_view.name | trim }}"
    label: "{{ content_view.label }}"
{% if content_view.description != "" and content_view.description != None %}
    description: |
      {{ content_view.description | regex_replace('[\\r\\n\\t]+',' ') }}
{% endif %}
    auto_publish: "{{ content_view.auto_publish }}"
    organization: "{{ content_view.organization.name }}"
{% if content_view.content_view_components != None %}
    components:
{% for component in content_view.content_view_components %}
      - content_view: "{{ component.content_view.name }}"
        latest: "{{ component.latest }}"
{% endfor %}
{% endif %}
{% endfor %}
