---
content_views:
{% for content_view in info_list %}
  - name: "{{ content_view.name | trim }}"
    label: "{{ content_view.label }}"
{% if content_view.description != "" and content_view.description != None %}
    description: |
      {{ content_view.description | regex_replace('[\\r\\n\\t]+',' ') }}
{% endif %}
    organization: "{{ content_view.organization.name }}"
{% if content_view.repositories != None and content_view.repositories[0] is defined %}
    repositories:
{% for repo in content_view.repositories %}
      - name: "{{ repo.name }}"
        product: "{{ repo.name }}"
{% endfor %}
{% endif %}
{% endfor %}
