---
content_credentials:
{% for i in all_results %}
  - name: {{ i.name }}
    content_type: {{ i.content_type }}
    content: {% raw %}{{{% endraw %} lookup('file', '../files/content_credentials/{{ i.name }}') {% raw %}}}{% endraw %}
{% endfor %}

