---
lifecycle_environments: {{ [] if info_list | length == 0 }}
{% set __excluded_fields = ['created_at', 'updated_at', 'id', 'organization_id'] %}
{% set __excluded_subitems = ['id'] %}
{% set __list_items = [] %}
{% for i in info_list %}
{%   for __map_item in (i | dict2items) if __map_item.key not in __excluded_fields %}
{% if __map_item.value | type_debug == 'dict' %}
{%   set __map_item_value = dict(__map_item.value.items() | rejectattr('0', 'in', __excluded_subitems)) %}
{% endif %}
{%     if loop.index == 1 %}
  - {{ __map_item.key }}: {{ __map_item_value if (__map_item.value | type_debug == 'dict') else __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") }}
{%     else %}
    {{ __map_item.key }}: {{ __map_item_value if (__map_item.value | type_debug == 'dict') else __map_item.value | default('""' if __map_item.key not in __list_items else [], true) | replace("\\'", "''") }}
{%     endif %}
{%-  endfor %}
{% endfor %}
...
