---
repositories:
{% for repo in detailed_info.results %}
  - name: "{{ repo.json.name | trim }}"
    label: "{{ repo.json.label }}"
{% if repo.json.description != None and repo.json.description != "" %}
    description: "{{ repo.json.description | regex_replace('[\\r\\n\\t]+',' ') }}"
{% endif %}
{% if repo.json.docker_upstream_name != None and repo.json.docker_upstream_name != "" %}
    docker_upstream_name: "{{ repo.json.docker_upstream_name }}"
    url: "{{ repo.json.url }}"
{% else %}
    url: "{{ repo.json.full_path }}"
{% endif %}
    http_proxy_policy: "{{ repo.json.http_proxy_policy }}"
    content_type: "{{ repo.json.content_type }}"
    product: "{{ repo.json.product.name }}"
    mirroring_policy: "{{ repo.json.mirroring_policy }}"
{% if repo.json.download_policy != None and repo.json.download_policy != "" %}
    download_policy: "{{ repo.json.download_policy }}"
{% endif %}
{% if repo.json.gpg_key.name != None and repo.json.gpg_key.name != "" %}
    gpg_key: "{{ repo.json.gpg_key.name }}"
{% endif %}
{% endfor %}
