---
- name: "Get list of files inside {{ filetree_satellite_organizations }}"
  ansible.builtin.find:
    paths: "{{ filetree_satellite_organizations }}"
    file_type: file
    patterns: "{{ filetree_satellite_include | default(omit) }}"
    excludes: "{{ filetree_satellite_exclude | default(omit) }}"
    use_regex: "{{ filetree_satellite_regex | default(false) }}"
    contains: "satellite_organizations:"
    read_whole_file: true
    recurse: true
  register: __list_files_satellite_organizations

- name: "Read Organization definitions"
  ansible.builtin.include_vars:
    file: "{{ __read_organizations_definitions_item.path }}"
  loop: "{{ __list_files_satellite_organizations.files }}"
  loop_control:
    loop_var: __read_organizations_definitions_item
    label: "{{ __read_organizations_definitions_item.path }}"
  register: __contents_filetree_satellite_organizations
  failed_when: "'VARIABLE IS NOT DEFINED' in __contents_filetree_satellite_organizations"

- name: "Populate Organizations list"
  ansible.builtin.set_fact:
    __populate_satellite_organizations: "{{ (__populate_satellite_organizations | default([])) + __populate_organizations_list_item.ansible_facts.satellite_organizations }}"
  loop: "{{ __contents_filetree_satellite_organizations.results }}"
  loop_control:
    loop_var: __populate_organizations_list_item
    label: "{{ __populate_organizations_list_item.ansible_included_var_files | join(', ') }}"
  no_log: "{{ satellite_configuration_filetree_read_secure_logging }}"
  when:
    - __contents_filetree_satellite_organizations is defined
    - __contents_filetree_satellite_organizations.results is defined
    - __contents_filetree_satellite_organizations.results | length > 0
    - __populate_organizations_list_item.ansible_facts.satellite_organizations is defined

- name: "Set Organization Data Structure"
  ansible.builtin.set_fact:
    satellite_organizations: "{{ __populate_satellite_organizations }}"
  no_log: "{{ satellite_configuration_filetree_read_secure_logging }}"
  when: __populate_satellite_organizations is defined

- name: "Show loaded information"
  ansible.builtin.debug:
    var: satellite_organizations
    verbosity: 1
---
# - include_vars:
#     file: "{{ item }}"
#   loop:
#     - "{{ dir_orgs_vars }}/configure_foreman_katello_credentials.yml"
#     - "{{ dir_orgs_vars }}/configure_foreman_katello_general.yml"
#     - "{{ dir_orgs_vars }}/{{ orgs }}/configure_katello_lifecycle_environments.yml"
#     - "{{ dir_orgs_vars }}/{{ orgs }}/cv/configure_katello_content_views.yml"
#   when: orgs is defined and dir_orgs_vars is defined
#
# - name: Create Content Views
#   theforeman.foreman.katello_content_view:
#     username: "{{ configure_foreman_username }}"
#     password: "{{ configure_foreman_password }}"
#     server_url: "{{ configure_foreman_server_url }}"
#     validate_certs: "{{ configure_foreman_validate_certs }}"
#     name: "{{ item.name }}"
#     organization: "{{ item.organization }}"
#     repositories: "{{ item.repositories | default(omit) }}"
#     state: "{{ item.state | default(omit) }}"
#   loop: "{{ configure_katello_content_views }}"
#   when: configure_katello_content_views is defined
#   delegate_to: "{{ 'localhost' if foreman_local else omit }}"
#
# - name: Create Composite Content Views
#   theforeman.foreman.katello_content_view:
#     username: "{{ configure_foreman_username }}"
#     password: "{{ configure_foreman_password }}"
#     server_url: "{{ configure_foreman_server_url }}"
#     validate_certs: "{{ configure_foreman_validate_certs }}"
#     name: "{{ item.name }}"
#     composite: True
#     auto_publish: "{{ item.auto_publish | default(False) }}"
#     organization: "{{ item.organization }}"
#     components: "{{ item.components | default(omit) }}"
#     state: "{{ item.state | default(omit) }}"
#   loop: "{{ configure_katello_compositive_content_views }}"
#   when: configure_katello_compositive_content_views is defined
#   delegate_to: "{{ 'localhost' if foreman_local else omit }}"
#
#   #- name: Create Content View Filters
#   #  theforeman.foreman.katello_content_view_filter:
#   #    username: "{{ configure_foreman_username }}"
#   #    password: "{{ configure_foreman_password }}"
#   #    server_url: "{{ configure_foreman_server_url }}"
#   #    validate_certs: "{{ configure_foreman_validate_certs }}"
#   #    name: "{{ item.name }}"
#   #    content_view: "{{ item.content_view }}"
#   #    filter_type: "{{ item.filter_type }}"
#   #    organization: "{{ item.organization }}"
#   #    date_type: "{{ item.date_type | default(omit) }}"
#   #    end_date: "{{ item.end_date | default(omit) }}"
#   #    errata_id: "{{ item.errata_id | default(omit) }}"
#   #    inclusion: "{{ item.inclusion | default(omit) }}"
#   #    max_version: "{{ item.max_version | default(omit) }}"
#   #    min_version: "{{ item.min_version | default(omit) }}"
#   #    repositories: "{{ item.repositories | default(omit) }}"
#   #    rule_name: "{{ item.rule_name | default(omit) }}"
#   #    start_date: "{{ item.start_date | default(omit) }}"
#   #    types: "{{ item.types | default(omit) }}"
#   #    version: "{{ item. version| default(omit) }}"
#   #    filter_state: "{{ item.filter_state | default(omit) }}"
#   #    rule_state: "{{ item.rule_state | default(omit) }}"
#   #  loop: "{{ configure_katello_content_view_filters }}"
#   #  when: configure_katello_content_view_filters is defined
#   #  delegate_to: "{{ 'localhost' if foreman_local else omit }}"
