---
repository_sets:
{% for repo_set in detailed_info.results %}
  - label: "{{ repo_set.json.label | trim }}"
{% if repo_set.json.repositories[0].releasever != None %}
    repositories:
{% for repo in repo_set.json.repositories %}
      - releasever: "{{ repo.releasever }}"
{% if repo.arch is defined and repo.arch != "noarch" %}
        basearch: "{{ repo.arch }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
