---
- hosts: localhost
  connection: local
  gather_facts: no
  roles:
    - role: automationiberia.satellite_configuration.filetree_read
    # - role: automationiberia.satellite_configuration.dispatch
...
