---
- name: Export Satellite Configuration
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Ensure that the output_path exists
      ansible.builtin.file:
        path: "{{ output_path }}"
        owner: "{{ satellite.template.owner }}"
        group: "{{ satellite.template.group }}"
        mode: "0777"
        state: directory

    - block:
      - name: Get Organizations
        import_role:
          name: automationiberia.satellite_configuration.filetree_create
...
