---
- name: Export Satellite Configuration
  hosts: localhost
  connection: local
  gather_facts: false
  module_defaults:
    redhat.satellite.organization_info: &satellite_creds
      username: "{{ satellite.admin.username }}"
      password: "{{ satellite.admin.password }}"
      server_url: "{{ satellite.server_url }}"
      validate_certs: "{{ satellite.validate_certs }}"
  tasks:
    - name: Ensure that the output_path exists
      ansible.builtin.file:
        path: "{{ output_path }}"
        owner: "{{ satellite.template.owner }}"
        group: "{{ satellite.template.group }}"
        mode: "0777"
        state: directory
      tags: always

    - name: Get Organizations
      import_role:
        name: automationiberia.satellite_configuration.filetree_create

    - name: "Block to fix the output files' format"
      tags: always
      block:
        - name: "Search for all the generated files"
          ansible.builtin.find:
            paths: "{{ output_path }}"
            recurse: true
            patterns:
              - '*.yaml'
              - '*.yml'
          register: _generated_files

        - name: "Re-write all the generated files to make them more readable"
          ansible.builtin.shell: "/usr/bin/env yq -i -P '{{ _current_file.path }}' && echo '...' >> '{{ _current_file.path }}'"
          changed_when: true
          loop: "{{ _generated_files.files }}"
          loop_control:
            loop_var: _current_file
            label: "{{ _current_file.path }}"
...
